
.containerContact{
    padding: 2.2% 1%;
    background-image: url('./../../assets/pasto.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 1.5% 30% 5% 30%;
    height: 100%;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    padding: 13px;
    border-radius: 2rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.card-contact li{
    margin: 0.8%;
}

.card-contact .ubicacion{
    height: 2.4rem;
}

.card-contact img {
    height: 1.2rem;
    width: auto;
}

@media (max-width: 768px) {

    .card-contact {
        margin: 3% 10%; 
        font-size: 18px; 
        padding: 10px;
    }
}

@media (max-width: 480px) {

    .card-contact {
        margin: 5% 5%;
        font-size: 16px;
        padding: 15px;
    }

    .card-contact img {
        height: 1.5rem;
    }
}